

.LoginInput {
  margin-bottom: 30px;
  height: 20px;
  width: 180px;
}


.ImagemFoguete {
  position: absolute;
  height: 600px;
  width: 600px;
  right: -40px;
  top: 50px;
}
























