* {
    padding: 0;
    margin:0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    height: 700px;
    

}

div {
    border: 5px solid gray;
    text-align: center;
    height: 200px;
}

.seg {
    background-color: cadetblue;
    
    
}

.ter {
    background-color: coral;
    
}

.qua {
    background-color: darkcyan;
    
}

.qui {
    background-color: darkkhaki;
   
}

.sex {
    background-color: rgb(92, 90, 90);
    
}

.sab {
    background-color: olivedrab;
   
}

.dom {
    background-color: lightseagreen;
    
}

.tarefa {

}