.topo {
    background-color: darkorchid;
    position: relative;
    line-height: 45px;
}

.centro {
    background-color: darkorange;
    margin: auto;
    line-height: 100px;
    
}


.rodape {
    background-color: darkolivegreen;
    bottom: 0;
    height: 50px;
    line-height: 15px;
}