.cabecalho {
    display: block;
    background-color: aquamarine;
    position: fixed;
    top: 0;
    height: 15%;
}

.centro {
    display: block;
    background-color: crimson;
    position: fixed;
    margin: 100px;
    height: 70%;
}

.rodape {
    display: block;
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    height: 15%;
}

.botoes{
    background-color: cornflowerblue;
}