.topo {
    background-color: darkslategray;
    height: 80px;
    background-image: url(background-1.jpg);
}

.meio {
    background-color: dimgray;
    height: 500px;
    
}

.rodape {
    background-color: silver;
    height: 65px;
}
